<template>
  <Layout>

    <div class="card">
      <div class="card-header"><h1>UBports Installer</h1></div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="row center donation-options">
              <div class="col-xs donate-link" @click="deb">
                <font-awesome :icon="['fab', 'ubuntu']" style="font-size: 5em;" />
              </div>

              <div class="col-xs donate-link" @click="exe">
                <font-awesome :icon="['fab', 'windows']" style="font-size: 5em;" />
              </div>

              <div class="col-xs donate-link" @click="dmg">
                <font-awesome :icon="['fab', 'apple']" style="font-size: 5em;" />
              </div>

              <div class="col-xs">
                <a href="https://snapcraft.io/ubports-installer" target="_blank" rel="noreferrer noopener" class="donate-link">
                  <font-awesome :icon="['fab', 'linux']" style="font-size: 5em;" />
                </a>
              </div>

              <div class="col-xs donate-link" @click="appimage">
                <b-icon-box-arrow-in-down  width="5em" height="5em" />
              </div>

              <p>
                With the UBports Installer, you can get Ubuntu Touch on your device without breaking a sweat. You can use any Linux, Windows, or macOS computer to run the installer. Simply plug in your device and follow the on-screen instructions, then sit back and let the computer do all the work for you!
              </p>

            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-12 devicecol">
                <div class="aspect-ratio">
                  <iframe width="854" height="480" src="https://www.youtube.com/embed/zuLFTGkuD68" frameborder="0" allowfullscreen />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <Donate />

  </Layout>
</template>

<script>
import Donate from "~/components/Donate.vue";
import axios from "axios";

export default {
  metaInfo: {
    title: "UBports Installer",
    meta: [
      {
        name: "description",
        content: `A friendly cross-platform Installer for Ubuntu Touch. Just connect a supported device to your PC, follow the on-screen instructions, and watch this awesome tool do all the rest!`
      },
      {
        property: "og:title",
        content: `UBports Installer`
      },
      {
        property: "og:image",
        content: "https://devices.ubuntu-touch.io/desert.jpg"
      }
    ]
  },
  components: {
    Donate
  },
  async mounted() {
    let requestedPackage = this.getUrlParameters().package;
    if (requestedPackage)
      window.location.href = await this.getAssetUrl(requestedPackage);
  },
  methods: {
    async deb() {
      window.location.href = await this.getAssetUrl("deb");
    },
    async exe() {
      window.location.href = await this.getAssetUrl("exe");
    },
    async dmg() {
      window.location.href = await this.getAssetUrl("dmg");
    },
    async appimage() {
      window.location.href = await this.getAssetUrl("AppImage");
    },
    async getAssetUrl(packageType) {
      try {
        const results = await axios.get(
          "https://api.github.com/repos/ubports/ubports-installer/releases/latest"
        );
        return results.data.assets.find(asset =>
          asset.name.toLowerCase().endsWith(packageType.toLowerCase())
        ).browser_download_url;
      } catch (error) {
        console.log(error);
      }
    },
    getUrlParameters() {
      let ret = {};
      window.location.href.replace(
        /[?&]+([^=&]+)=([^&]*)/gi,
        (_, property, value) => {
          ret[property] = value;
        }
      );
      return ret;
    }
  }
};
</script>